.unity-progress-bar__container {
    max-height: none;
    height: 300px;
    width: 250px;
    rotate: 270deg;
}

.unity-progress-bar__progress {
    background-image: url("project:/Assets/Sprites/79d3643365bfbb63e96a0b6289d8e58c.jpg");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: scale-and-crop;
}

.unity-progress-bar__background {
    background-color: rgb(133, 71, 5);
}
